<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="related_product" translate="label" sortOrder="10">
            <label>Related Product</label>
        </tab>
        <section id="asus_related_product_settings" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Api Setting</label>
            <tab>related_product</tab>
            <resource>Asus_Product::config</resource>
            <group id="api" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="base_url" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Url</label>
                </field>
                <!--<field id="username" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">-->
                    <!--<label>Username</label>-->
                <!--</field>-->
                <!--<field id="password" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">-->
                    <!--<label>Password</label>-->
                <!--</field>-->
                <field id="enable" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
