ol.product-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

@media (min-width: 960px ) {
    ol.product-items li {
        border: 1px solid #e4e4e4;
        width: calc(25% - 20px) !important;
        margin-left: 0px !important;


    }
}


.product-item-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ol.product-items .product-item-info{
    margin:0 auto;
}

ol.product-items li .product-item-info .product-item-details .product-item-name {
    font-size: 19px;
    line-height: 23px;
    overflow: hidden;
    display: table;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
ol.product-items li .product-item-info .product-item-details .price-box{
    height: 57px;
    margin: 10px 16px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    position: relative;
}

/*.product-item-actions .actions-primary{*/
    /*margin-top: 20px;*/
/*}*/